/*--------------------------------------------------------------
                          FOOTER STYLING
--------------------------------------------------------------*/

/* Footer styling */
footer {
    margin-top: auto; /* ผลักดันฟุตเตอร์ไปยังด้านล่าง */
    text-align: center; /* จัดกึ่งกลาง */
    color: white; /* สีฟุตเตอร์ */
}

/* Footer */
@media (max-width: 600px) {
    footer {
        font-size: 0.85em;
        padding: 10px 0;
    }
}