/*--------------------------------------------------------------
                          FOOTER STYLING
--------------------------------------------------------------*/

/* Footer styling */
footer {
    margin-top: auto; /* ผลักดันฟุตเตอร์ไปยังด้านล่าง */
    text-align: center; /* จัดกึ่งกลาง */
    color: white; /* สีฟุตเตอร์ */
}